.container{
    margin: 16px;
    background-color: #fff;
}
.inputs{
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 14px;
}
.addBtn{
    margin-left: 10px;
}
.save{
    margin-right: 16px;
}
.describ{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical!important;
}
