.container{
    background-color: #fff;
    margin: 20px;
    padding: 10px;
}
.inputs{
    padding:0 20px;
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid #eaeaea;
}
.btns{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 13px;
}
.forms{
    background-color: #D9D9D9;
    border:1px solid rgba(217,217,217,1);
    :global(.ant-form-item){
        margin-bottom: 10px;
    }
}
.delBtn{
    float: right;
    margin-top: -67px;
}
