
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  display: flex;
}

.welcome {
   height: 100%;
   text-align: center;
   margin-top: 8%;
}
.bigImg{
    height: 500px;
    width: auto;
    margin-bottom: 17px;
}
.smallImg{
    display: inline-block;
    margin-right: 30px;
    vertical-align: baseline;
}
.texts{
    display: inline-block;
}
.top{
    font-size: 44px;
    color: #001428;
    display: block;
}
.bottom{
    font-size: 26px;
    color: rgba(0,0,0,0.65);
    display: block;
}
.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.iconRegister:before {
    content: '\e626';
}

.test {
    color: red;
}
