.container{
    margin: 20px;
    background-color: #fff;
    height: 100%;
    padding-top: 70px;
    padding-left: 120px;
}
.save{
    margin-right: 30px;
    margin-top: 70px;
}

.containers{
    background-color: #fff;
}
.inputs{
    padding:0 20px;
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid #eaeaea;
}
.btns{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 13px;
}
