.layout {
    display: flex;
    height: 600px;
    overflow: auto;
}
.left {
    // flex: 1;
    padding: 24px 20px;
    .form {
        padding: 0 0 12px !important;
    }
}
.right {
    padding: 12px 20px;
    width: 366px;
    border-left: 1px solid #eee;
    .bottom {
        margin-top: 10px;
        text-align: right;
        button:first-child {
            margin-right: 16px;
        }
    }
}
