.logo {
    height: 80px;
    line-height: 80px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    background: url('../../assets/images/tab栏背景.svg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-user:before {
    content: '\e626';
}
.icon-xitongguanli:before{
    content: "\e641";
    color: #FFFFFF;
}
.icon-jueceyinqing:before{ content: "\e63e"; color: #FFFFFF;}

.icon-yingyongguanli:before{ content: "\e63f"; color: #FFFFFF;}

.logoImgs{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.names{
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0.01px;
}
.tops{
    margin-top: 38px!important;
    height: 68px!important;
    line-height: 68px!important;
    font-size: 18px!important;

}
.heights{
    height: 68px!important;
    line-height: 68px!important;
    font-size: 18px!important;
}
