.basic{
    padding: 66px 50px 100px 50px;
    background-color: #fff;
}
.columns{
    margin-bottom: 20px;
}
.linkOrder{
    padding-top: 20px;
    background-color: #fff;
}
.riskReport{
    padding: 15px 30px;
    background-color: #fff;
}
.lists{
    border-bottom: 1px solid #eaeaea;
}
.headers{

}
