.container{
    background-color: #fff;
    margin: 20px;
}
.inputs{
    padding:0 20px;
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid #eaeaea;
}
.btns{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 13px;
}
.ant-modal-body .ant-row.ant-form-item .ant-form-item-control-wrapper{
    display: inline-block;
}
.photo{
    color: #3497FF ;
    font-size: 10px;
}
.sections{
    display: inline-block;
}
.edit{
    display: flex;
}
