.layout{
    margin: 15px;
    background-color: #fff;
    :global(.ant-layout){
        background-color: #fff;
    }
}
.look{
    padding-top: 22px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    padding-left: 30px;
    background-color: #fff;
}
.peoples{
    :global(.ant-form-item){
        margin-bottom: 0;
    }
}
.adds{
    margin-top: -3px;
    float: right;
    margin-right: 35px;
}
.add{
    padding: 16px 0 20px 30px;
    background-color: #fff;
}
.tables{
    border: 1px solid #eaeaea;
    width: 580px;
    height: 246px;
    td{
        border: 1px solid #eaeaea;
    }
}
.objects{
    height: 58px;
}
.title{
    width: 118px;
    text-align: center;
    background-color:rgba(250,250,250,1);
}
.operate{
    text-align: left;
    padding-left: 46px;
}
.lists{
    padding: 21px 35px 30px 30px;
    background-color: #fff;
}
.header{
    display: flex;
    justify-content: space-between;
}
.name{
    font-size:16px;
    font-family:PingFangSC-Medium;
    color:rgba(0,0,0,0.85);
}
.edits{
    margin-bottom: 20px;
    margin-right: 13px;
}

