.containers{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 16px 16px;
    border-bottom: 1px solid #eaeaea;
}
.create{
    margin-right: 20px;
}
.charts{
    padding: 14px 24px 25px 16px;
    background-color: #fff;
}
.times{
    display: flex;
    justify-content: space-between;
}
.disk{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.noMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 95px;
    width: 100%;
    flex-direction: column;
}
.bigDisk{
    height: 426px;
    width: 100%;
    border: 1px solid #eaeaea;
    position: relative;
}
.smallDisk{
    height: 426px;
    width: 48%;
    position: relative;
    border: 1px solid #eaeaea;
    margin-top: 20px;
}
.addTimed{
    margin-right: 8px;
}
.bar:before{
    content: "\e64b";
    color: #3B99FC;
    font-size: 60px;
    margin-left: 22px;
}
.close:before{
    content: "\e64a";
    font-size: 14px;
    color: rgba(0,0,0,0.45);
}
.barName{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.close{
    position: absolute;
    right: 24px;
    top: 11px;
    z-Index: 12;
}
.addCharts{
    display: flex;
    align-items: center;
}
