.containers{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 16px 16px;
    border-bottom: 1px solid #eaeaea;
}
.create{
    margin-right: 20px;
}
.charts{
    padding: 14px 24px 25px 16px;
    background-color: #fff;
}
.times{
    display: flex;
    justify-content: space-between;
}
