.container{
    margin: 16px;
    background-color: #fff;
}
.inputs{
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 14px;
}
.addBtn{
    margin-left: 10px;
}
.save{
    margin-right: 16px;
}
.btns{
    margin-left: 21px;
    margin-bottom: 22px;
}
.edits{
    color: rgba(59,153,252,1);
    cursor: pointer;
    width: 95px;
}
.stage{
    margin-left: 10px;
    cursor: pointer;
}
.isEnable{
    margin-right: 10px;
    cursor: pointer;
}
