.container{
    margin: 16px;
    background-color: #fff;
}
.inputs{
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 14px;
}
.addBtn{
    margin-left: 10px;
}
.save{
    margin-right: 16px;
}
.addRule{
    padding-top: 30px;
    padding-left: 59px;
    background-color: #fff;
}
.headers{
    font-size:16px;
    color:rgba(0,0,0,0.85);
    font-weight: bold;
}
.addBtn{
    margin-top: 67px;
    margin-left: 200px;
}
