html,
body,
:global(#root) {
    height: 100vh;
}
table {
    width: 100%;
}
:global {
    .jm-lf {
        float: left;
    }
    .jm-rt {
        float: right;
    }
    .jm-clearfix {
        zoom: 1;
        &:before {
            display: table;
            content: "";
        }
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    .jm-flex {
        display: flex;
        flex-direction: column;
    }
    .jm-flex-auto {
        flex: auto;
    }
    .jm-text-right {
        text-align: right;
    }

    .jm-toolBar {
        padding: 12px 20px !important;
    }
    .jm-searchForm  {
        padding: 12px 20px !important;
        .ant-select {
            min-width: 120px;
        }
        + .jm-toolBar {
            border-top: 1px solid #eee;
        }
    }
}
:global(.jm-del){
    color: #1F92FD;
    margin-left: 12px;
    cursor: pointer;
}
:global(.jm-operate){
    color: #1F92FD;
    cursor: pointer;
}
:global(.layoutMar) {
    margin: 16px 21px 20px;
    background-color: #fff;
    background: #fff!important;

}
:global(.description){
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical!important;
}
:global(.ant-tooltip-inner){
    word-break: break-all;
}
