:global {
    .jm-sider,
    .jm-sider .ant-menu-root,
    .jm-sider .ant-menu-sub {
        // background: #333 !important;
    }
    .jm-sider .ant-menu-sub {
        box-shadow: none !important;
    }
    .jm-sider .ant-menu-submenu-arrow {
        display: none !important;
    }
    .jm-sider .ant-menu-submenu-open {
        color: #999 !important;
    }
    .jm-sider > .ant-layout-sider-children {
        display: flex;
        flex-direction: column;
    }
    .jm-menu {
        flex: 1;
        overflow: auto;
    }
    .jm-main {
        margin: 16px;
        background: #fff;
    }
    #root{
        height: 100%;
    }

}
